<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Look list</title>
</head>
<body>

<div th:fragment="look-card">
    <!-- dynamic sizing -->

    <div class="col s12 m6 l4">
    <div class="card">
    <div class="card-image">

    <!-- image -->
    <img src="/imgs/carnival-640.jpeg" />
    <!-- look title -->

    <span th:if="${look.title}!=null" class="card-title" th:text="${look.title}"></span>
    <span th:if="${look.title}==null" class="card-title"></span>
    <a th:href="@{/look/{id}(id=${look.id})}" class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>

    <!-- look description -->
    <div class="card-content">
    <p th:if="${look.description}!=null" th:text="${look.description}"></p>
    </div>

    <!-- link to product page -->
    <div class="card-action">
    <a th:href="@{/look/{id}(id=${look.id})}">View more</a>
    </div>
    </div>
    </div>
</div> <!-- fragment end -->

    <ul>
        <li th:fragment="collection-card" class="collection-item avatar">
            <img src="/imgs/lipstick-thumbnail.jpeg" alt="product" class="circle" />
            <span class="title">Title</span>
            <p>First Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
    </ul>


</body>
</html>