<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Navbar</title>
</head>
<body>
<div th:fragment="navbar">
    <div class="navbar-fixed">
        <nav class="white">
            <div class="nav-wrapper">
                <a href="#" class="show-on-small hidden brand-logo left red-text">Superfleek</a>
                <a href="#" class="hide-on-med-and-down brand-logo red-text">Superfleek</a>
                <a href="#" data-activates="mobile-demo"
                   class="button-collapse red-text right"><i class="material-icons">menu</i></a>
                <ul class="nav-search">
                    <li>
                        <div class="row">
                            <div class="col s12">
                                <div class="row" id="topbarsearch">
                                    <div class="input-field col s6 s12 red-text">
                                        <form th:action="@{/search}" th:method="get">
                                            <i class="red-text material-icons prefix">search</i>
                                            <input type="text" placeholder="search" class="autocomplete"
                                                   id="query" th:name="query"
                                                   th:value="${query}"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="hide-on-small-only right">
                    <li><a href="/search" class="red-text">Search</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/profile" class="red-text">My Profile</a></li>
                    <li sec:authorize="!isAuthenticated()" ><a href="/login" class="red-text">Login</a></li>
                    <li sec:authorize="isAuthenticated()"><form th:action="@{/logout}" th:method="post">
                        <button class="logout-btn red-text">Logout</button>
                    </form></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/sign-up" class="red-text">Join</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
    </ul>

</div>



</body>
</html>