<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Navbar</title>
</head>
<body>

<div class="navbar-fixed" th:fragment="navbar">
    <nav class="white">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo red-text">Logo</a>
            <ul class="hide-on-med-and-down right">
                <li>
                    <div class="center row">
                        <div class="col s12">
                            <div class="row" id="topbarsearch">
                                <div class="input-field col s6 s12 red-text">
                                    <i class="red-text material-icons prefix">search</i>
                                    <input type="text" placeholder="search" class="autocomplete" id="query" />
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="/search" class="red-text">Search</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/profile" class="red-text">My Profile</a></li>
                <li sec:authorize="!isAuthenticated()" ><a href="/login" class="red-text">Login</a></li>
                <li sec:authorize="isAuthenticated()"><form th:action="@{/logout}" th:method="post">
                    <button class="logout-btn red-text">Logout</button>
                </form></li>
                <li sec:authorize="!isAuthenticated()"><a href="/sign-up" class="red-text">Join</a></li>
            </ul>
        </div>
    </nav>
</div>


</body>
</html>