<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Navbar</title>
</head>
<body>
<div th:fragment="navbar">
    <div class="navbar-fixed">
        <nav class="teal">
            <div class="nav-wrapper">
                <a href="/" class="show-on-small hidden brand-logo left grey-text text-lighten-4">Superfleek</a>
                <a href="/" class="hide-on-med-and-down brand-logo grey-text text-lighten-4">Superfleek</a>
                <a href="#" data-activates="mobile-demo"
                   class="button-collapse grey-text text-lighten-4 right"><i class="material-icons">menu</i></a>
                <ul class="nav-search">
                    <li>
                        <div class="row">
                            <div class="col s12">
                                <div class="row" id="topbarsearch">
                                    <div class="input-field col s6 s12 grey-text lighten-4">
                                        <form th:action="@{/search}" th:method="get">
                                            <i class="grey-text text-lighten-4 material-icons prefix">search</i>
                                            <input type="text" placeholder="search" class="autocomplete grey-text text-lighten-4"
                                                   id="query" th:name="query"
                                                   th:value="${query}"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="hide-on-small-only right">
                    <li><a href="/search" class="grey-text text-lighten-4">Search</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/profile" class="grey-text text-lighten-4">My Profile</a></li>
                    <li sec:authorize="!isAuthenticated()" ><a href="/login" class="grey-text text-lighten-4">Login</a></li>
                    <li sec:authorize="isAuthenticated()"><form th:action="@{/logout}" th:method="post">
                        <button class="logout-btn grey-text text-lighten-4">Logout</button>
                    </form></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/sign-up" class="grey-text text-lighten-4 teal">Join</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="/profile"><i class="material-icons">account_box</i> My profile</a></li>
        <li><a href="/search"><i class="material-icons">search</i>Search products</a></li>
        <li><form th:action="@{/logout}"
                  th:method="post"><button class="link space-left" th:href="@{/logout}"><i class="material-icons">power_settings_new</i>Logout</button></form></li>
    </ul>

</div>



</body>
</html>