<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('404')">
    <meta charset="UTF-8" />
    <title>404</title>
</head>
<body>

<div class="oops-block">
    <h1>Oops!</h1>
    <h3>We can't seem to find the page you're looking for</h3>
    <h5>Error code: 404</h5>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-black">
        Back to home
    </button>
</div>

<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>