body {
    background: #f4f2f1 url(../imgs/404-img.jpeg) no-repeat center center fixed;
    background-size: cover;
    background-position: 0vw 13vh;
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
}

.oops-block {
    position: absolute;
    display: inline-block;
    left: 50%;
}

h1 {
    color: hotpink;
    font-family: 'Pacifico', cursive;
    font-size: 10rem;
    margin: 0.5rem;
}

