body {
    background: #f4f2f0 url('../imgs/404-crop.jpg');
    font-family: 'PT Sans', sans-serif;
}

.oops-block {
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 50%;
}

h1 {
    color: hotpink;
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
}

