/***********************/
/*       login         */
/***********************/

.login-form {
    position: relative;
    top: 15%;
}

/***********************/
/*       sign-up       */
/***********************/
.login-link {
    color: #009cff;
}

/***********************/
/*     make profile    */
/***********************/
section:nth-of-type(2) {
    background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;
}
.section {
    text-align:center;
    font-size: 3em;
}
.content{
    margin:50px
}

.breadcrumb.active {
    color: hotpink !important;
}

.mp-section-content {
    position: relative;
    bottom: 15%;
}

.mp-section-content * {
    margin: 0 0 24px 0;
}

.mp-skip {
    position: relative;
    left: 34%;
}

.mp-skip:hover {
    color: hotpink;
}


.add-profile-pic {
    display: inline-block;
    border: 3px solid black;
    height: 150px;
    width: 150px;
    padding: 25px 0 0 0;
    margin: 0;
}

.add-profile-pic:hover{
    background-color: darkgrey;
    cursor: pointer;
}

.collection-bar {
    border: 1px solid black;
    height: 75px;
}

.mp-down-arrow {
    position: fixed;
    bottom: 10px;
    left: 47%;
    z-index: 99;
    cursor: pointer;
}

/***********************/
/*    Input Fields     */
/***********************/
/* label color */
/*.input-field label {*/
    /*color: #000;*/
/*}*/
/*!* label focus color *!*/
/*.input-field input[type=text]:focus + label {*/
    /*color: #000 !important;*/
/*}*/
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* seaerch label underline focus color */
.input-field input[type=search]:focus {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

/***********************/
/*   helper classes    */
/***********************/

.full-page-wrapper {
    height: 100vh;
}

.page-wrapper {

}

.loading-wrapper {
    position: fixed;
    top: 45%;
    left: 45%;
}

.main-title {
    margin: 0 0 20px 0;
}

.sub-title {

}

.btn-group {
    width: 35%;
}

.hidden {
    display: none;
}
