/***********************/
/*   For sticky footer  */
/***********************/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*box-sizing: border-box;*/
}

main {
    flex: 1 0 auto;
}

.menu-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/***********************/
/*       Index         */
/***********************/
.home-search-bar {
    display: inline-block;
    height: 40px;
    width: 320px;
    margin: 13px;
    color: #000;
    border-radius: 2px;
}

.home-search-bar input[type=search] {
    border: none;
    height: 100%;
    width: 95%;
    padding: 0 0.5em 0 0.5em;
}

/***********************/
/*       login         */
/***********************/
#login {
    background: url('https://i.pinimg.com/originals/7f/b2/35/7fb23512240b8c7f8ea0771279fe344d.jpg') center center fixed;
    background-size: cover;
    /*background: #3494E6;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #EC6EAD, #3494E6); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

.login-form h6 {
    margin-top: 2em;
}

.signup-btn {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    left: 32vw;
    letter-spacing: 0.2em;
    position: relative;
    top: 5vh;
    transform: rotate(23deg);
    z-index: 99;
}
.login-btn {
    font-family: 'Poppins', sans-serif;
}

.signup-link {
    color: #EC6EAD;
    cursor: pointer;
}

.login-card {
    /*max-height: 354px;*/
    background: rgba(255, 255, 255, 0.8);
}

.card-image img {
    height: 100%;
}

.login-mobile-wrapper img{
    height: 100%;
    width: 100%;
}

.login-mobile-panel {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.login-mobile-panel h1, .login-mobile-panel h6, .login-mobile-panel p {
    color: #000;
}



/***********************/
/*       sign-up       */
/***********************/
#signup {
    background: url('https://i.pinimg.com/originals/7f/b2/35/7fb23512240b8c7f8ea0771279fe344d.jpg') no-repeat center center fixed;
    background-size: cover;
    /*background: #3494E6;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #EC6EAD, #3494E6); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

.login-link {
    color: #009cff;
}

.content-panel {
    background: rgba(255, 255, 255, 0.7);
    padding: 5em;
    border-radius: 4px;
    max-height: 85%;
    margin-top: 5vw;
}

/***********************/
/*     make profile    */
/***********************/

section:nth-of-type(2) {
    background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;
}

.fp-tableCell {
    vertical-align: center;
}
.section {
    font-size: 3em;
    text-align:center;
}
.content{
    margin:50px
}

.breadcrumb.active {
    color: hotpink !important;
}

.mp-section-content {
    position: relative;
    bottom: 15%;
}

.mp-section-content * {
    margin: 0 0 24px 0;
}

.mp-walkthrough-text {
    font-size: 1em;
}

.mp-skip {
    position: relative;
    left: 34%;
}

.mp-skip:hover {
    color: hotpink;
}

.section1-slider {
    position: absolute;
    z-index: -99;
    top: -80vh;
    left: 0;
    -webkit-animation: slidedown 5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

@keyframes slidedown {
    0% {top: -80vh;}
    100% {top: -40vh;}
}


.section2-slider {
    position: absolute;
    width: 65vw;
    right: -9vw;
    bottom: -50vw;
    -webkit-transition: all 2.1s ease-out;
    transition: all 2.1s ease-out;
}

.fp-viewing-three .section2-slider{
    bottom: 10vh;
}

.fp-viewing-four .section2-slider{
    bottom: 0;
}

.section3-slider {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 3.1s ease-out;
    transition: opacity 3.1s ease-in-out;
}

.fp-viewing-four .section3-slider {
    opacity: 1;
}


.add-profile-pic {
    border: 3px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    height: 150px;
    width: 150px;
    padding: 25px 0 0 0;
    margin: 0;
    overflow: hidden;
}

.add-profile-pic:hover {
    background-color: darkgrey;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.add-profile-pic img {
    height: 100%;
    width: 100%;
}

.mp-user-choice img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.mp-user-choice img.img1:hover, .mp-user-choice img.img2:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.mp-down-arrow {
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin: -42px 0 0 -42px;
    z-index: 99;
    cursor: pointer;
}

/***********************/
/*       profile       */
/***********************/
#profile {

}
.profile-bar {
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    height: 20vh;
}

.profile-bar-user-info {
    display: flex;
    flex-flow: column wrap;
    overflow:hidden;
    border: 1px solid blue;
    width: 50%;
}

.profile-hero-img {
    height: 20vh;
    width: 100%;
}

.profile-hero-img > img {
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

.profile-user-avatar {
    height: 100%;
    width: 100%;
}

/*.profile-user-avatar img {*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

.profile-hero-overlay {
    position: relative;
    top: 0;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.profile-overlay-text {
    color: #fff;
    position: relative;
    top: 80%;
    font-size: 2em;
    margin: 0.5em;
}

.tab a.active {
    color:rgb(0, 0, 0)!important;
    /*background-color:#448AFF!important;*/
}
/*.tabs .tab a:hover {*/
    /*background-color: #bcaaa4!important;*/
    /*color:#FFFFFF!important;*/
/*}*/
.tabs .tab a {
    color: #000!important;
}
.tabs .indicator{
    background-color:#000!important;
}

.card-content .card {
    max-width: 20vw;
}

/***********************/
/*    Product View     */
/***********************/
.menu-bottom a{
    margin: -3px;
    width: 51%;
}

.product-image-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #c0c0c0;
}

.product-image-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product-info-banner-mobile {
    /*display: flex;*/
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}

.product-thumbnail {
    width: 10%;
}

.product-caption {
    /*overflow: hidden;*/
    flex-basis: 50%;
}

.product-caption * {
    margin: 3px 0 0 5px;
}
.product-title {

}

.product-price {
    margin: 20px 0 0 25%;
}

.product-review-bar {
    display: flex;
    justify-content: center;
    height: 3em;
    padding: 0.5em;
}

.review-number {
    display: inline-block;
    margin-right: 1em;
}

.review-score {
    display: inline-block;
}

.ratings {
    line-height: 2;
}

.star-board {
    display: inline-block;
    letter-spacing: -1em;
    margin-right: 0.5em;
}

.user-review {
    border: 1px solid crimson;
    margin: 10%;
    width: 75%;
}


/***********************/
/*       Search        */
/***********************/
.searchbar {
    border: 1px solid #ccc;
}


.searchbar select, .searchbar .select-wrapper {
    width: 10vw;
}

.collection .collection-item.avatar {
    padding-right: 42px;
}

.no-results {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15vmax;
    margin-top: -15vmax;
    border: 5px dashed #ddd;
    border-radius: 20px;
    height: 30vmax;
    width: 30vmax;
}

.no-results h6 {
    font-size: 2vmax;
}

.no-results h4 {
    font-size: 3vmax;
}

.no-results h6, .no-results h4 {
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 50%;
    line-height: 3em;
    margin-top: -2em;
    color: #ddd;
}



/***********************/
/*    Input Fields     */
/***********************/
/* label color */
.input-field label {
    color: #000;
}
/*!* label focus color *!*/
.input-field input[type=text]:focus + label {
    color: #000 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
/*!* label focus color *!*/
.input-field input[type=password]:focus + label {
    color: #000 !important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* search label underline focus color */
.input-field input[type=search]:focus {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

#topbarsearch form {
    margin-right: -2em;
}

/***********************/
/*   helper classes    */
/***********************/

.full-page-wrapper {
    height: 100vh;
}

.content-wrapper {
    height: 100vh;
}

.profile-wrapper {
    width: 60%;
    margin: 0 auto;
}

.page-wrapper {

}

.loading-wrapper {
    position: fixed;
    top: 45%;
    left: 45%;
}

.main-title {
    margin: 0 0 20px 0;
}

.sub-title {

}

.logout-btn {
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    webkit-transition: background-color .3s;
    transition: background-color .3s;
    display: block;
    padding: 0 15px;
}

.logout-btn:hover {
    background-color: inherit;
}

.hidden {
    display: none;
}

.white-border {
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.white-border-box {
    box-shadow: 1px 1px 5px 3px rgba(255, 255, 255, 1);
}

.collection-grid {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 100%;
    justify-content: center;
    margin: 1rem;
}

.grid-item {
    background: #f4f4f4;
    height: 7rem;
    width: 7rem;
    border: 1px solid white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin: 0.2em 0;
}

h2 {
    font-size: 2rem;
    margin: 0.3em 0;
}

p {
    font-size: 1rem;
    margin: 0.2em 0;
}
