<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header('Welcome')">    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8" />
    <title></title>
</head>
<body id="index">
<header>
</header>
<main>

        <div class="container">
        <!-- mobile layout -->
        <div class="login-mobile-wrapper hide-on-large-only">
            <div class="top col s12"></div>
            <div class="">
                <div class="row">
                    <div class="col offset-s1 s10">
                        <h1 class="mobile-h1 main-title center-align">Welcome</h1>
                        <h6 class="mobile-h6">Superfleek is your very own virtual makeup organizer. Make a profile,
                            and start sharing new looks today! </h6>
                        <h6><a href="http://superfleek.me/profile/Parys1" class="view-sample-link view-sample-mobile">Explore this design</a></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col offset-s2 s8">
                    </div>
                </div>
            </div>
            <div class="center-align">
                <div class="bottom-nav">
                    <div class="home-link-container">
                        <div class="row">
                            <div class="col s6">
                                <a href="/login"><h3 class="mobile-h1 main-title">Login</h3></a>
                            </div>
                            <div class="col s6 push-s1">
                                <a href="/sign-up"><h3 class="mobile-h1 main-title">SignUp</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Desktop layout -->

        <div class="valign-wrapper ">
            <div class="row show-on-large hidden">
                <div class="row">
                </div><!--invisible div -->

                <div class="welcome">
                        <h1 class="mobile-h1 card-title">Welcome</h1>
                            <p>Superfleek is your very own virtual makeup organizer. Make a profile,
                            and start sharing new looks today!</p>

                    <div class="welcome-links">
                        <div class="col s6">
                            <a href="/login"><h2 class="mobile-h1 main-title">Login</h2></a>
                        </div>
                        <div class="col s6">
                            <a href="/sign-up"><h2 class="mobile-h1 main-title">SignUp</h2></a>
                        </div>
                        <div class="col s12">
                            <div class="view-sample">
                                <a class="view-sample-link" href="http://superfleek.me/profile/Parys1">Explore this design</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="overlay-wrapper"></div>
</main>
<footer>
    <!--<div th:replace="fragments/footer :: menu-bottom"></div>-->
</footer>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>