<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Login')">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<div class="login-img-container">
    <img src="https://source.unsplash.com/1600x900/?makeup" />
</div>
<div class="container">
    <div class="full-page-wrapper">
        <div class="row">
            <h1 class="main-title center-align">Login</h1>
            <h6 class="sub-title center-align">Lorem ipsum...</h6>
        </div>
        <form th:method="post" th:action="@{/login}">
            <div class="row">
                <div class="login-form center-align">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" name="username" class="validate" type="text" th:object="${username}" />
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" class="validate" type="password" name="password"/>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn-group btn waves-effect waves-light grey darken-4">Login</button>
                    </div>
                    <div class="row">
                        <a  href="/sign-up" class="btn-group btn waves-effect waves-light grey darken-4">Sign up</a>
                    </div>
                </div>
            </div><!-- end form row-->
        </form>

    </div><!-- end wrapper -->
</div>

<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>

