<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header('Look')">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<header>
    <nav th:replace="fragments/navbar :: navbar"></nav>
</header>
<div class="container">
    <form th:action="@{/look/{id}/update(id=${look.id})}" th:method="post" th:object="${look}">
    <div class="row">
        <div class="col s10 offset-s1 m6 offset-m3">
            <h2  th:text="${look.title}">Default Title</h2>
            <span sec:authorize="isAuthenticated()">
            <a th:if="${look.user.id} == ${#authentication.principal.id}" href="#" class="show-edit-title">Edit Title</a>
            <input type="text" class="edit-title" name="edit-title" th:field="*{title}" hidden="hidden"/>
            <a href="#" class="cancel-edit-title" hidden="hidden">Cancel Edit Title</a>
                </span>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1 m6 offset-m3">
            <img th:src="${look.pictureFilePath}" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1 m6 offset-m3">
            <p th:text="${look.description}"></p>
            <span sec:authorize="isAuthenticated()">
            <a th:if="${look.user.id} == ${#authentication.principal.id}" href="#" class="show-edit-description">Edit Description</a>
            <input type="text" class="edit-description" name="edit-description" th:field="*{description}" hidden="hidden"/>
            <a href="#" class="cancel-edit-description" hidden="hidden">Cancel Edit Description</a>
                </span>
        </div>
    </div>
        <div class="row made-edits" hidden="hidden">
            <div class="col s10 offset-s1 m6 offset-m3">
                <input type="submit" value="Update Look"/>
            </div>
        </div>

    </form>
</div>







<footer>
    <div th:replace="fragments/footer :: menu-bottom"></div>
</footer>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>