
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Make your profile')">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>


<div class="loading-wrapper">
    <div class="preloader-wrapper active">
        <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<div class="page-wrapper hidden">
    <div class="navbar-fixed">
        <nav class="grey darken-4 center-align">
            <div class="nav-wrapper">
                <div class="col s12" id="walkthrough">
                    <a data-menuanchor="one" href="#one" class="mp-walkthrough-text breadcrumb white-text">Add a
                        photo</a>
                    <a data-menuanchor="two" href="#two" class="mp-walkthrough-text breadcrumb white-text">Write your
                        bio</a>
                    <a data-menuanchor="three" href="#three" class="mp-walkthrough-text breadcrumb white-text">Finish
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <div id="fullpage">
        <div class="section">
            <img class="section1-slider responsive-img" src="/imgs/slider1.jpg" />
            <h2 class="main-title white-border">Upload a profile picture</h2>
                <div class="row">
                    <div class="col s12">
                        <!--<h6 class="sub-title white-border">Lorem ipsum...</h6>-->
                    </div>
                </div>
                <div class="add-profile-pic white-border-box">
                    <img class="hidden" id="profile-pic-box" src="" />
                    <i class="large material-icons">add</i>
                </div>





        </div>
        <!--<div class="section">-->

        <!--</div>&lt;!&ndash; end section &ndash;&gt;-->
        <div class="section">
            <div class="content">
                <img class="responsive-img section2-slider" src="/imgs/slider2.png" />
                    <div class="row">
                        <h2 class="main-title">Write your bio</h2>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                                        <label for="textarea1"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div><!-- end content -->
        </div><!-- end section -->
        <div class="section">
            <div class="content">
                <img class="responsive-img section3-slider" src="/imgs/makeup-brushes-blue-700h.jpg" />
                <div class="mp-section-content">
                    <h2 class="main-title">Finish!</h2>
                    <form th:method="post" th:name="make-profile" th:action="@{/make-profile}" th:object="${user}">

                        <input id="bio-input" th:field="*{bio}" th:type="hidden" value=""/>

                        <input th:field="*{lookList[0].pictureFilePath}" th:type="hidden" id="profile-input" value="" />

                        <button class="btn waves-effect waves-light grey darken-4">Go to profile</button>
                    </form>

</div>
</div>
</div>
</div> <!-- end full page -->
    <i class="mp-down-arrow large material-icons animated pulse infinite white-border">keyboard_arrow_down</i>
</div> <!-- end page wrapper -->





<div th:replace="fragments/footer :: scripts"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js"></script>
<script src="/js/fullpage.js"></script>
</body>
</html>