<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Product')">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<header>
    <nav th:replace="fragments/navbar :: navbar"></nav>
</header>

<main>
    <div class="product-image-container">
        <img class="responsive-img" src="https://source.unsplash.com/1600x900/?makeup" />
    </div>
        <div class="product-info-banner-mobile">
            <img class="left product-thumbnail responsive-img" src="/imgs/lipstick-thumbnail.jpeg" />
            <div class="product-caption">
            <h5 class="product-brand">Nars</h5>
            <h6 class="product-title">Audacious Lipstick</h6>
        </div>
        <h6 class="right product-price">$32.00</h6>
    </div>
    <div class="product-review-bar">
        <div class="star-board">
            <i class="material-icons tiny ratings">grade</i>
            <i class="material-icons tiny ratings">grade</i>
            <i class="material-icons tiny ratings">grade</i>
            <i class="material-icons tiny ratings">grade</i>
        </div>
        <h6 class="review-number">57 reviews</h6>
        <h6 class="review-score">Overwhelmingly positive</h6>
    </div>
    <ul class="collection">
        <li class="collection-item avatar">
            <img src="https://source.unsplash.com/45x45/?model" alt="" class="circle" />
            <span class="title">This lipstick is lit!!!</span>
            <p>@Pinkpony123 <br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut tortor pretium viverra suspendisse potenti nullam ac tortor. Sit amet nulla facilisi morbi tempus iaculis urna id volutpat. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum. Viverra ipsum nunc aliquet bibendum enim.
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons green-text">thumb_up</i></a>
        </li>
    </ul>
</main>

<footer>
        <div th:replace="fragments/footer :: menu-bottom"></div>
</footer>



<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>