<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Product')">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<header>
    <nav th:replace="fragments/navbar :: navbar"></nav>
</header>

<main>
    <div class="container">
        <div class="row">
        <div class="col s12 offset-m2 m8 offset-l3 l6 z-depth-3">
            <div class="product-image-container">
                <img class="responsive-img" src="https://source.unsplash.com/1600x900/?makeup" />
            </div>
            <div class="product-info-banner-mobile">
                <div class="row">
                    <div class="col s2">
                        <!-- thumbnail -->
                        <img class="responsive-img" th:src="${makeup.thumbnailUrl}" />
                    </div>
                    <div class="col s10">
                        <!-- product info text -->
                        <div class="row">
                            <div class="col s6">
                                <!-- product brand -->
                                <h5 class="product-brand" th:text="${makeup.brand.name}"></h5>
                            </div>
                            <div class="col s6">
                                <!-- product price -->
                                <p>$32.00</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <!-- product title -->
                                <h6 class="product-title" th:text="${makeup.name}"></h6>
                            </div>
                        </div>
                    </div> <!-- product info text -->
                </div> <!-- main product info row -->
            </div>
            <form th:action="@{/product/{id}/add(id=${makeup.id})}" th:method="post">
                <button>Add To Collection</button>
            </form>
            <!-- product info banner -->
            <div class="product-review-bar">
                <div class="star-board">
                    <i class="material-icons tiny ratings">grade</i>
                    <i class="material-icons tiny ratings">grade</i>
                    <i class="material-icons tiny ratings">grade</i>
                    <i class="material-icons tiny ratings">grade</i>
                </div>
                <h6 class="review-number">57 reviews</h6>
                <h6 class="review-score">Overwhelmingly positive</h6>
            </div>
        <div><!-- form div -->
            <form class="form" th:action="@{/product/{id}(id=${makeup.id})}" th:method="post" th:object="${review}">
                <input th:field="*{rating}" th:type="radio" name="rating" value="1" id="positive" /><label for="positive">poppin!</label>
                <input th:field="*{rating}" th:type="radio" name="rating" value="-1" id="negative" /><label for="negative">nah</label>
                <input th:field="*{title}" th:name="title" />
                <textarea th:name="body" th:field="*{body}"></textarea>
                <input th:type="submit" th:value="Submit" />
            </form>
        </div><!-- review -->
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="https://source.unsplash.com/45x45/?model" alt="" class="circle" />
                    <span class="title">This lipstick is lit!!!</span>
                    <p>@Pinkpony123 <br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut tortor pretium viverra suspendisse potenti nullam ac tortor. Sit amet nulla facilisi morbi tempus iaculis urna id volutpat. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum. Viverra ipsum nunc aliquet bibendum enim.
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons green-text">thumb_up</i></a>
                </li>
                <li class="collection-item avatar" th:each="review : ${makeup.reviews}">
                    <img th:src="${review.user.getProfilePicUrl()}" alt="" class="circle" />
                    <span th:text="${review.title}" class="title">This lipstick is lit!!!</span>
                    <p th:text="${'@'+review.user.username}"></p>
                    <p th:text="${review.body}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut tortor pretium viverra suspendisse potenti nullam ac tortor. Sit amet nulla facilisi morbi tempus iaculis urna id volutpat. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum. Viverra ipsum nunc aliquet bibendum enim.
                    </p>
                    <a th:if="${review.rating} == 1" href="#!" class="secondary-content"><i class="material-icons green-text">thumb_up</i></a>
                    <a th:if="${review.rating} == -1" href="#!" class="secondary-content"><i class="material-icons green-text">thumb_down</i></a>

                </li>
            </ul>
        </div>
    </div>
</div>
</main>

<footer>
        <div th:replace="fragments/footer :: menu-bottom"></div>
</footer>



<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>