<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Profile')">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<header>
    <nav th:replace="fragments/navbar :: navbar"></nav>
</header>

<main>
    <div class="profile-hero-img">
        <img src="https://source.unsplash.com/375x250/?model" />
        <div class="profile-hero-overlay">
            <h1 class="profile-overlay-text">
                @Pinkpony123
            </h1>
        </div>
    </div>
    <div class="card-tabs">
        <ul class="tabs grey darken-4 tabs-fixed-width">
            <li class="tab"><a href="#collection">Collection</a></li>
            <li class="tab"><a class="active" href="#looks">Looks</a></li>
            <li class="tab"><a href="#wishlist">Wishlist</a></li>
        </ul>
    </div>
    <div class="card-content">
        <div id="collection">
                <div class="collection-grid">
                    <div class="red lighten-4 grid-item"></div>
                    <div class="red lighten-4 grid-item"></div>
                    <div class="red lighten-4 grid-item"></div>
                    <div class="red lighten-4 grid-item"></div>
                    <div class="red lighten-4 grid-item"></div>
                    <div class="red lighten-4 grid-item"></div>
                    <div class="red lighten-4 grid-item"></div>
                </div>
        </div>
        <div id="looks">
                <div class="collection-grid">
                    <div class="purple lighten-4 grid-item"></div>
                    <div class="purple lighten-4 grid-item"></div>
                    <div class="purple lighten-4 grid-item"></div>
                    <div class="purple lighten-4 grid-item"></div>
                    <div class="purple lighten-4 grid-item"></div>
                    <div class="purple lighten-4 grid-item"></div>
                    <div class="purple lighten-4 grid-item"></div>
                </div>
        </div>
        <div id="wishlist">
            <div class="collection-grid">
                <div class="blue lighten-4 grid-item"></div>
                <div class="blue lighten-4 grid-item"></div>
                <div class="blue lighten-4 grid-item"></div>
                <div class="blue lighten-4 grid-item"></div>
                <div class="blue lighten-4 grid-item"></div>
                <div class="blue lighten-4 grid-item"></div>
                <div class="blue lighten-4 grid-item"></div>
            </div>
        </div>
    </div>

</main>

<footer>
</footer>
<div th:replace="fragments/footer :: menu-bottom"></div>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>