<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Profile')">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<header>
    <nav th:replace="fragments/navbar :: navbar"></nav>
</header>

<main>

    <div class="container">
        <div class="row">
            <!-- main column sizing-->
            <div class="col s12 offset-m3 m6">
                <div class="row">
                    <div class="col s12">
                        <div class="profile-hero-img"><img src="https://source.unsplash.com/375x250/?model" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <img class="profile-user-avatar" src="https://source.unsplash.com/375x250/?model" /></div>
                    <div class="col s8">
                        <h2 th:text="${'@'+user.username}">
                        @Pinkpony123
                        </h2>
                        <!-- insert bio data -->
                        <p>Bio</p>
                    </div>
                </div>
                <div class="row">
                    <div class="card-tabs">
                        <ul class="tabs white tabs-fixed-width">
                            <li class="tab black-text"><a href="#collection">Collection</a></li>
                            <li class="tab"><a class="active" href="#looks">Looks</a></li>
                            <li class="tab"><a href="#wishlist">Wishlist</a></li>
                        </ul>
                    </div>
                    <div class="card-content">
                        <div id="collection">
                            <div class="collection-grid">
                                <!--add for each through collection list-->
                                <div class="red lighten-4 grid-item"></div>
                                <div class="red lighten-4 grid-item"></div>
                                <div class="red lighten-4 grid-item"></div>
                                <div class="red lighten-4 grid-item"></div>
                                <div class="red lighten-4 grid-item"></div>
                                <div class="red lighten-4 grid-item"></div>
                                <div class="red lighten-4 grid-item"></div>
                            </div>
                        </div>
                        <div id="looks">
                            <div class="collection-grid">
                                <!--for each for looks(pictures)-->
                                <div class="purple lighten-4 grid-item"></div>
                                <div class="purple lighten-4 grid-item"></div>
                                <div class="purple lighten-4 grid-item"></div>
                                <div class="purple lighten-4 grid-item"></div>
                                <div class="purple lighten-4 grid-item"></div>
                                <div class="purple lighten-4 grid-item"></div>
                                <div class="purple lighten-4 grid-item"></div>
                            </div>
                        </div>
                        <div id="wishlist">
                            <div class="collection-grid">
                                <!--for each for wishlist-->
                                <div class="blue lighten-4 grid-item"></div>
                                <div class="blue lighten-4 grid-item"></div>
                                <div class="blue lighten-4 grid-item"></div>
                                <div class="blue lighten-4 grid-item"></div>
                                <div class="blue lighten-4 grid-item"></div>
                                <div class="blue lighten-4 grid-item"></div>
                                <div class="blue lighten-4 grid-item"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="col s12 offset-m2 m8 offset-l3 l6">-->
    <!--<div class="profile-hero-img">-->
        <!--&lt;!&ndash;will insert user's profile image in the src&ndash;&gt;-->
        <!--<img src="https://source.unsplash.com/375x250/?model" />-->
        <!--<div class="profile-hero-overlay">-->
            <!--<h1 th:text="${'@'+user.username}" class="profile-overlay-text">-->
                <!--@Pinkpony123-->
            <!--</h1>-->
        <!--</div>-->
    <!--</div>-->

        <!--</div>-->
    <!--</div>-->
</main>
<footer>
    <div th:replace="fragments/footer :: menu-bottom"></div>
</footer>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>