<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header('Sign up')">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<div class="container">
    <div class="full-page-wrapper">

        <form th:method="post" th:action="@{/sign-up}" th:object="${user}">

            <div class="row">
                <h1 class="main-title center-align">Sign up</h1>
                <h6 class="sub-title center-align">Lorem ipsum...</h6>
            </div>
            <div class="row">
                <div class="login-form center-align">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" class="validate" type="text" th:field="*{username}" />
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" class="validate" type="password" th:field="*{password}" />
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="confirm_password" class="validate" type="password" />
                            <label for="confirm_password">Confirm Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" class="validate" type="text" th:field="*{email}"/>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">

                        <button th:type="submit" class="btn-group btn waves-effect waves-light grey darken-4">Sign up</button>

                    </div>
                    <div class="row">
                        <h6>Already have an account? <a href="#" class="login-link">Login</a></h6>
                    </div>
                </div>
            </div> <!-- end form row -->
        </form>
    </div> <!-- end wrapper -->
</div>

<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>